*.[oan]
*.hpp
*.output
*.pdf
*-s
.dirstamp
.deps
Makefile
Makefile.in
stamp-*
/aclocal.m4
/autom4te.cache
/build-aux
/configure
/config.log
/config.status
/src/include/stamp-h1
/font/devpdf/[A-Z]*
/gnulib_m4
/INSTALL
/lib
/maint.mk
/src/include/config.hin
/GNUmakefile
/README-release
/addftinfo
/afmtodit
/charset.alias
/chem
/contrib/hdtbl/hdmisc.tmac
/contrib/hdtbl/hdtbl.tmac
/contrib/mom/om.tmac
/defs.h
/eqn
/eqn2graph
/font/devpdf/build_font_files
/font/devpdf/download
/font/devpdf/enc/
/font/devpdf/map/
/font/devpdf/util/BuildFoundries
/gdiffmk
/gideal
/glilypond
/gnu.eps
/gperl
/gpinyin
/grap2graph
/grn
/grodvi
/groff
/groff_opts.tmp
/groff_opts_no_arg.txt
/groff_opts_with_arg.txt
/groffer
/grog
/grolbp
/grolj4
/gropdf
/grops
/grotty
/gxditview
/hpftodit
/indxbib
/lkbib
/lookbib
/mmroff
/neqn
/nroff
/pdfmom
/pdfroff
/pdfroff-*/
/penguin.ps
/pfbtops
/pic
/pic2graph
/post-grohtml
/pre-grohtml
/preconv
/ref-add.sed
/ref-del.sed
/refer
/roff2dvi
/roff2html
/roff2pdf
/roff2ps
/roff2text
/roff2x
/shdeps.sed
/soelim
/tbl
/test-groff
/tfmtodit
/troff
/xtotroff
/gendef.sh
